venv/*
.venv/*
__pycache__/
*.pyc
myvenvname/*
Dokumentation/*.aux
Dokumentation/*.bbl
Dokumentation/*.blg
Dokumentation/*.fdb_latexmk
Dokumentation/*.fls
Dokumentation/*.log
Dokumentation/*.out
Dokumentation/*.synctex.gz
Dokumentation/*.toc
Dokumentation/*.png

